h1{
    padding-top: 30px;
    margin-left: 150px;
    font-size: 30px;
    color: grey;
}
body{
    height: 666px;
}
img{
    display: flex;
    float: left;
    width: 680px;
	height: 400px;
    margin-left: 20px;
    margin-top: 20px;
}
p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}