<h1>Teamwork</h1>
<ul>
    <li>
        <img src="assets/image.png">
        <strong>Agustina Aviles</strong>
        <p>Artista</p>
    </li>
    <li>
        <img src="assets/image_1.png">
        <strong>Gertrudis Almagro</strong>
        <p>Diseñadora</p>
    </li>
    <li>
        <img src="assets/image_2.png">
        <strong>Domingo Llorente</strong>
        <p>Artista</p>
    </li>
    <li>
        <img src="assets/image_3.png">
        <strong>Clemente Tamayo</strong>
        <p>Diseñador</p>
    </li>
</ul>
