<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
      >
        <ul id="nav1">
          <li><a aria-current="page" href="">Home</a></li>
          <li><a href="artistas">Artists</a></li>
          <li><a href="noticias">News</a></li>
          <li><a href="equipo">Team</a></li>
          <li><a href="acerca_de">About</a></li>
        </ul>
        <ul id="nav2">
          <li><a  href="registrar">Register</a></li> 
          <li><a  href="ingresar">Log In</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
